<!--<table class="table">-->
<!--  <thead>-->
<!--  <th>Name</th>-->
<!--  <th>Age</th>-->
<!--  <th>Status</th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let user of arrUsers">-->
<!--    <td>{{ user.name }}</td>-->
<!--    <td>{{ user.age }}</td>-->
<!--    <td>-->
<!--      <input type="checkbox" (change)="changeStatus(user)" [checked]="user.status">-->
<!--      <span [ngStyle]="{'color': user.status ? 'green' : 'red' }">{{ user.status ? 'done' : 'fail' }}</span>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--<ng-content></ng-content>-->
<!--<h3>Message: {{ childMessage }}</h3>-->

<!--<button (click)="sendOutputData()">sendOutputData</button>-->


<button (click)="changeNumber(false)">-</button>
<button (click)="changeNumber(true)">+</button>
