<!--<app-lesson1></app-lesson1>-->
<!--<app-lesson2></app-lesson2>-->

<!--<app-lesson3>-->
<!--  <h1>Tag form App component</h1>-->
<!--</app-lesson3>-->

<!--<button (click)="send()">send</button>-->
<!--<app-lesson3 [childMessage]="parentMessage"></app-lesson3>-->

<!--<app-lesson3 (outputData)="getOutputData($event)"></app-lesson3>>-->
<!--<h2>Number = {{ myNumber }}</h2>-->

<!--<h1>{{ count }}</h1>-->
<!--<app-lesson3 (status)="checkStatus($event)"><app-lesson3>-->
<app-lesson4></app-lesson4>
